<a href="https://colab.research.google.com/github/arbi11/YCBS-272/blob/master/YCBS_272_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Instructions for Assignment 2


1.   All the submissions should be attempted individually.
2.   Please submit the assignment either on mycources or mail directly to arbaaz.khan@mail.mcgill.ca

1.   You have the option of either submitted the python notebook (.ipynb) or in .pdf format
2.   Maximum points associated with this assignment = 15.

# Loading the necessary data

In [1]:
! git clone https://github.com/arbi11/YCBS-272.git

fatal: destination path 'YCBS-272' already exists and is not an empty directory.

In [2]:
! ls

sample_data  YCBS-272

In [3]:
cd YCBS-272/

/content/YCBS-272

In [4]:
! ls

Advertising.csv		       Lec_4_5.ipynb
Auto.csv		       Lec_4_6.ipynb
drinks.csv		       Lec_5_Lesson.ipynb
fandango_score_comparison.csv  Lec_6_decision_trees.ipynb
indian_liver_patient.csv       nhanes_2015_2016.csv
Lec_2.ipynb		       Quiz_2.ipynb
Lec_2_solution.ipynb	       README.md
Lec_4_1.ipynb		       spamdata.csv
Lec_4_2.ipynb		       Tree_Exercise.ipynb
Lec_4_3.ipynb		       YCBS_272_Assignment_1.ipynb
Lec_4_4.ipynb		       YCBS_272_Assignment_2.ipynb

# Loading the data.

The column **'Dataset'** is the target column.

In [0]:
import pandas as pd
data_frame = pd.read_csv('indian_liver_patient.csv')

In [6]:
data_frame.describe()

              Age  Total_Bilirubin  ...  Albumin_and_Globulin_Ratio     Dataset
count  583.000000       583.000000  ...                  579.000000  583.000000
mean    44.746141         3.298799  ...                    0.947064    1.286449
std     16.189833         6.209522  ...                    0.319592    0.452490
min      4.000000         0.400000  ...                    0.300000    1.000000
25%     33.000000         0.800000  ...                    0.700000    1.000000
50%     45.000000         1.000000  ...                    0.930000    1.000000
75%     58.000000         2.600000  ...                    1.100000    2.000000
max     90.000000        75.000000  ...                    2.800000    2.000000

[8 rows x 10 columns]

# 1. Explain what is happening the next line of code
[1 point]

In [0]:
data_frame = pd.get_dummies(data_frame, prefix=['Gender'])

# 2. Perform basic statistics for the dataset and explain what useful information you extacted from them

Execute and write about atleast 2 different pandas function.

[2 points]

# 3.1 Generate a box plot showing the effect of 'Age' on 'Total_Protiens' column
[1 point]

# 3.2 Extend the above box plot to show the effect of 'Gender' too along with 'Age' on 'Total_Protiens' column

Hint: You might want to check what we did in Lesson 5.

[Lesson 5 Solution](https://github.com/arbi11/YCBS-272/blob/master/Lec_5_Solution.ipynb)

[2 point]

# 4. Partition the data into 'Train' and 'Test' set

Ratio: 90:10

[1 point]

# 5.1 Train a model (Decision Tree) on the 'Train' dataset

The column 'Dataset' is the Target.

The labels are divided into two classes: 

Class '1': Patient has **NO** disease,

Class '2': Patient has Liver disease

[2 points]

In [12]:
data_frame['Dataset'].value_counts()

1    416
2    167
Name: Dataset, dtype: int64

# 5.2 Predict the outcome for the data in 'Test' set

[1 point]

# 5.3 Compute the accuracy over both the 'Train' & 'Test' set

[1 point]

# 5.4 Generate the confusion matrix.

Explain each element in the confusion matrix.

How will you calculate **Precision** and **Recall**? Explain their significance.

[2 points]

# 5.5 Plot your decision tree

[1 point]

# 5.6 Can you identify the most important feature in your train dataset

[1 point]

# Bonus: How can you improve the efficiency of your prediction

Hint: Bagging Classifier

If you have lot of free time:

*! pip install xgboost*

*import xgboost as xgb*

[XGBoost](https://xgboost.readthedocs.io/en/latest/)

XGBoost is a gradienbt based Boosting Tree Classifier. 


Bonus marks for achieving accuracy over 0.74